/*
	======================================
	Navbar
	======================================
*/
.navbar {
	border-bottom: 1px solid #F5BB83;
	background-color: #fff;
}
.navbar-brand {
	font-family: "Bad Script";
	padding-right: 10px;
	color: #F59F5E;
	font-size: 36px;
}
.navbar-custom a:hover {
	colour: #000;
}
.nav-link {
	color: #70778A;
	font-family: "Gruppo";
	font-size: 20px;
}
.nav-item a:hover {
	color: #000;
}
.contact {
	padding: 5px;
}
.active {
	color: #000;
}
/*
	======================================
	Sections
	======================================
*/
.col-sm-6 {
	margin-bottom: 25px;
}
.center {
	position: absolute;
 	top: 25%;
 	bottom: 25%;
}
h1 {
	font-family: "Bai Jamjuree";
	text-align: center;
	padding: 15px;
	color: #585F70;
}
.sortarticle {
	font-family: "Tenali Ramakrishna";
	font-size: 22px;
	padding: 10px;
	margin: auto auto;
	width: 90%;
}
.sortarticle h2 {
	font-family: "Cairo";
	font-size: 30px;
}
.sortarticle h3 {
	font-family: "Barlow Condensed";
}
.sortarticle h4 {
	font-size: 30px;
}
.sortarticle h5 {
	font-family: "Exo 2";
	font-size: 20px;
	text-decoration: underline;
}
.sortarticle h6 {
	display: inline-block;
	font-size: 24px;
	text-decoration: underline;
}
.sortarticle a:hover {
	text-decoration: none;
}
.topics {
	font-size: 28px;
}
.topics a {
	color: #F5916A;
}
.topics a:hover {
	text-decoration: none;
	color: #F55E00;
}
/*
	======================================
	Code
	======================================
*/
pre, code {
  font-family: monospace, monospace;
}
pre > code {
  display: block;
  word-wrap: normal;
}
code[class*="language-"],
pre[class*="language-"] {
	width: 80%;
  	direction: ltr;
  	text-align: left;
  	white-space: pre;
  	word-spacing: normal;
  	word-break: normal;
  	word-wrap: normal;
  	line-height: 1.5;
  	-moz-tab-size: 2; -o-tab-size: 2; tab-size: 2;
  	-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;
}
pre {
  overflow: hidden;
  resize: horizontal;
  min-width: 100%
}
#program {
	font-size: 16px;
}
/*
	======================================
	Footer
	======================================
*/
footer {
	text-align: center;
	border-top: 1px solid #F5BB83;
	color: #F59F5E;
	background-color: #fff;
  	font-size: 16px;
	padding-bottom: 20px;
	padding-top: 20px;
}
